@font-face {
  font-family: "Lapidar";
  src: url("/fonts/Lapidar02-Light.woff2") format("woff2"),
    url("/fonts/Lapidar02-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lapidar";
  src: url("/fonts/Lapidar02-FatFat.woff2") format("woff2"),
    url("/fonts/Lapidar02-FatFat.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lapidar";
  src: url("/fonts/Lapidar02-Black.woff2") format("woff2"),
    url("/fonts/Lapidar02-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
