# default laptop env

# only really disables caching for templates
NODE_ENV=development

# this is only worth setting when running via
# node directly, in docker this is always 3000
# but you can bind it however you want
PORT=3000

# in dev you probably don't need this strictness, but 
# you may want to set this to true if you're in docker
# and want to test a "prod setup"
# in future we'll want to explicitly config the 
# RP for the site (not sure if that'll differ much from
# the domains that can access the site)
VALIDATE_DOMAIN=false
VALIDATED_DOMAINS="http://localhost:3000 http://skane.local:3000 https://snaps.orb.local"

# these paths are relative to the server.js file
# you can learn more about that decision by looking
# at consts.ts
VIEWS_DIR=./views
ROOT_MEDIA_PATH=../media

# in docker, it's more likely you don't 
# care what the file is called but you want to customize
# DB_ROOT because you've mounted something there
# but in dev, you can just set the DB_PATH which 
# supercedes DB_ROOT+DB_NAME
DB_PATH=../insta.db