doctype html

head
  title fotos
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet" href="/styles.css")

body

  ul(class="grid")
    each post, idx in allPosts
      li(class=`gridPost ${JSON.parse(post.media).length > 1 ? 'multi' : ''}`)
        a(href=`/p/${post.id}`)
          img(src=`/m/o/${JSON.parse(post.media)[0]}` loading="lazy" class="gridImg" wid)
