<!doctype html>
html
  head
    
    script.
      window.ascii_challenge = "#{challenge}";
    script(src="/login.js" defer)

body
  p sign in

  form
    div
      button(type="submit", id="login_button" value="login").
        login
        
      //- label
        //- span username
        // input(type=text, name="username" autocomplete="username webauthn")
        
