doctype html

head
  title foto - upload

  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  link(rel="stylesheet" href="/styles/main.css")

body
  div.main
    p.
      add some new photos
    form(method="post" action="/upload" enctype="multipart/form-data")
      input(id="file_input" name="fotos" type="file" multiple accept=".heic,.heif,.hif,.png,.jpg,.jpeg")

      input(type="submit" value="upload")

    script(src="/upload.js" defer)
